
.nav{
    grid-area: n;
    background-color: darkcyan;
    padding: 20px;
}
.item a{
    color: aliceblue;
    text-decoration: none;
}
.item.active{
    color: gold;
}
.item a.activeLink{
    color:gold;
}